@import "./variables";

//NAVIGATION

.nav__wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  font-family: "Nunito-Regular";
  font-family: "Exo-Regular";
  background-color: #111111;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  //   border-bottom: 1px solid #eee;
  // box-shadow: -2px -2px 5px $mainBlue;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.nav__container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1024px) {
    width: 90%;
  }
}
.nav__logo {
  cursor: pointer;
}
.nav__logo img {
  display: flex;
  flex: 1 1 100%;
  width: 80%;
  padding-top: 10px;
  @media screen and (max-width: 800px) {
    // width: 60%;
  }
}
.nav__links {
  width: 45%;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  color: $textLight;
  cursor: pointer;
  padding: 10px;
  transition: 0.4s;
  &:hover {
    color: $mainBlue;
  }
}
.nav__phone {
  color: $textLight;
  display: flex;
  align-items: center;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.nav__phone-icon {
  font-size: 1.5rem;
  margin: 0 15px;
  color: $mainRed;
  animation: shake 2.4s linear infinite;
}
.nav__phone-number {
  font-size: 1rem;
  color: $mainBlue;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}
//NAVIGATION MOBILE
.nav-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Nunito-Regular";
  display: flex;
  align-items: center;
  z-index: 10;
  @media screen and (min-width: 800px) {
    display: none;
  }
}
.nav-mobile__wrapper {
  position: relative;
}
.nav-mobile__container {
  z-index: 20;
  height: 70px;
  background-color: #111111;
  position: fixed;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-mobile__logo img {
  display: flex;
  width: 50%;
  padding-top: 10px;
  cursor: pointer;
}
.nav-mobile__toggler {
  cursor: pointer;
  font-size: 2rem;
  color: $textLight;
  color: $mainRed;
  color: $mainRed;
  transition: 0.4s ease-in-out;
  &:hover {
    color: $mainBlue;
  }
}
.nav-mobile__list {
  background-color: #111111;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 1;
  list-style: none;
  transform: translateY(-100%);
  transition: 0.4s ease-in-out;
  &--active {
    transform: translateY(100%);
    transition: 0.4s ease-in-out;
  }
  &--hidden {
    transform: translateY(-100%);
    transition: 0.4s ease-in-out;
  }
}
.nav-mobile__item {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

//HEADER

.header__wrapper {
  // background-image: url("../assets/images/pexels-albin-berlin-919073.jpg");
  background-image: url("../assets/images/hero2.jpg");
  background-position: 30% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  // min-height: 80vh;
  height: auto;
  max-height: fit-content;
  &--overlay {
    min-height: 100vh;
    width: 100vw;
    height: auto;
    max-height: fit-content;
    background-color: rgba(black, 0.75);
    z-index: -1;
  }
}
.header__container {
  position: relative;
  top: 70px;
  margin: 0 auto;
  width: 80%;

  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  @media screen and (max-width: 1024px) {
    width: 90%;
  }
}
.header__content {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.header__title {
  // text-align: center;
  padding: 1rem 0;
  font-size: clamp(2rem, 6vw, 8rem);
  color: $textLight;
  // color: $mainRed;
  font-family: "Nunito-Bold";
  font-family: "Exo-Regular";
  text-transform: uppercase;
  letter-spacing: 10px;

  &--color {
    background: -webkit-linear-gradient(125deg, $mainRed 30%, $mainBlue 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--span-red {
    color: $mainRed;
  }
  &--span-blue {
    color: $mainBlue;
  }
  &--services {
    // padding: 3rem 0 0 10vw;
  }
  &--service {
    position: relative;
    z-index: 1;
    font-size: clamp(1rem, 3vw, 2rem);
    letter-spacing: 2px;
    padding: 2rem;
    display: inline-block;
    &:before {
      position: absolute;
      z-index: -1;
      content: "";
      width: 230%;
      width: 100%;
      height: 10%;
      bottom: 30%;
      left: 0;
      background-color: rgba($mainBlue, 0.3);
      // box-shadow: 10px 10px 50px rgba($mainBlue, 0.5);
      transform: skew(55deg);
    }
    &:after {
      position: absolute;
      z-index: -1;
      content: "";
      width: 230%;
      width: 100%;
      height: 30%;
      bottom: 25px;
      left: -30px;
      border: 2px solid rgba($mainBlue, 0.3);
      transform: skew(55deg);
    }
  }
}
.header__button {
  position: relative;
  margin: 4rem auto;
  padding: 1rem 2rem;
  font-family: "Nunito-Bold";
  font-family: "Exo-Regular";
  font-size: 1.2rem;
  background-color: $mainRed;
  color: $textLight;
  border-radius: 5px;
  max-width: 300px;
  transition: 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 100%;
    background-color: rgba($textLight, 0.2);
    left: -20px;
    top: 0;
    transition: transform 0.4s ease-in-out;
    transform-origin: 100% 0;
    transform: translateX(0%);
  }
  &:hover {
    background-color: $mainBlue;
    // color: $textDark;
    transition: 0.4s ease-in-out;
  }
  &:hover::before {
    transition: transform 0.4s ease-in-out;
    transform: translateX(1600%);
    transform-origin: 0% 0;
    left: -20%;
  }
}
